.product{
  width: 250px;
  min-height: 200px;
  text-align: center;
  padding: 25px;
  margin: auto;
}
a{
  all: unset;
  cursor: pointer;
}

.productImage{
  width: 250px;
  height: 315px; 
  display: flex;
  align-items: center;
  background-color: #ffffff63;  
}

.productImage img{
  width: 250px;
  object-fit: cover;
}

.productDetails{
  text-align: left;
}

.productDetails h5,h6{
  margin: 2px;
}